* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background: #1b1b1b;
}

body h1 {
  font-size: 120px;
  font-family: "Montserrat", sans-serif;
}
body h2 {
  font-size: 44px;
  font-family: "Montserrat", sans-serif;
}
body h3 {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
}
body h4 {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
body p {
  font-size: 16px;
  font-family: "Hind", sans-serif;
}

@media only screen and (max-width: 768px) {
  body h1 {
    font-size: 32px;
    font-family: "Montserrat", sans-serif;
  }
  body h2 {
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
  }
  body h3 {
    font-size: 21px;
    font-family: "Montserrat", sans-serif;
  }
  body p {
    font-size: 14px;
    font-family: "Hind", sans-serif;
  }
}
@media only screen and (max-width: 412px) {
  header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5410539216) 60%, rgb(27, 27, 27) 100%), url(../image/gallery/slide4_412px-4.jpg) no-repeat center/cover;
    width: 100%;
    height: 250px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header .header-container-title-paragraphe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 0.8rem;
  }
  header .separator {
    height: 2%;
    width: 10%;
    background: #333333;
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: hsla(0, 0%, 0%, 0.657);
  background-size: cover;
  background-image: url("/image/gallery/footer-bg.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  bottom: 0;
}
.footer span, .footer h4, .footer li, .footer a {
  color: white;
  list-style: none;
  text-decoration: none;
}
.footer h4 {
  font-family: "Montserrat", sans-serif;
}
.footer li {
  font-family: "Hind", sans-serif;
}
.footer__body {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 7rem 2rem 4rem 1rem;
}
.footer__body__column {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
  background: none;
}
.footer__body__column div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5vw;
  position: relative;
}
.footer__body__column div ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  white-space: nowrap;
}
.footer__body__column ul, .footer__body__column h4 {
  margin-left: 1.5rem;
}
.footer__body__column ul li, .footer__body__column h4 li {
  color: #717171;
}
.footer__body__column ul li em, .footer__body__column h4 li em {
  color: white;
}
.footer__body__column span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  color: #717171;
}
.footer__body__column span::after {
  content: "";
  width: 2em;
  height: 2px;
  border-radius: 5px;
  background: #f60b0e;
}
.footer__body__column:first-child ul li:first-child, .footer__body__column:first-child ul li:nth-child(4) {
  margin-top: 1em;
}
.footer__body__column.link ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
  padding: 0;
}
.footer__body__column.link ul a {
  color: #717171;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 0.8em;
}
.footer__body__column.link ul a:hover {
  color: #fefefe;
}
.footer__body__column.social ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  position: relative;
}
.footer__body__column.social ul li a {
  width: 3rem;
  aspect-ratio: 1/1;
  background: transparent;
  border-radius: 50px;
  transition: all 0.5s ease;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1b1b;
}
.footer__body__column.social ul li a:hover {
  background: #f60b0e;
  color: white;
}
.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: hsla(0, 0%, 0%, 0.657);
  border-top: 1px solid rgba(51, 51, 51, 0.5);
  padding-top: 2em;
  padding-bottom: 3em;
  gap: 1rem;
  position: relative;
  z-index: 2;
}
.footer__copyright cite {
  color: #717171;
  font-style: normal;
}

@media screen and (min-width: 620px) and (max-width: 769px) {
  .footer__body {
    flex-wrap: wrap;
    flex-grow: 3;
    gap: 1rem;
  }
}
@media screen and (min-width: 412px) and (max-width: 619px) {
  .footer__body {
    flex-direction: column;
  }
  .footer__body__column div {
    gap: 0;
  }
  .footer__body__column.social ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.nav {
  background-color: rgba(34, 34, 34, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav ul li {
  list-style: none;
  padding: 0 15px 0 15px;
}
.nav ._nav_icon {
  width: 20px;
}
.nav p {
  padding: 20px;
}

@media (min-width: 769px) {
  ._nav_icon_hamburger {
    display: none;
  }
  .close {
    visibility: hidden;
  }
}
@media (max-width: 768px) {
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: black;
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    color: white;
  }
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sidenav.active {
    left: 0;
  }
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  .burger-icon span {
    display: block;
    justify-content: flex-end;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #222222;
  }
  ._nav_icon_hamburger {
    visibility: visible;
  }
  .invisible {
    visibility: hidden;
  }
  ._nav_icon {
    width: 20px;
    display: flex;
    justify-content: flex-end;
  }
}
.rooms .banRoom {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("/image/gallery/slide-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rooms .banRoom h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
}
.rooms .banRoom h1 span {
  color: #f60b0e;
}
.rooms .banRoom p {
  color: white;
  font-family: "Hind", sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rooms .banRoom p .grey {
  color: #3C3F3E;
}

.homeRoom__section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.homeRoom__section__container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.homeRoom__section__container ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding-left: 0;
  list-style: none;
}
.homeRoom__section__container ul .filterDifficult {
  display: list-item;
  margin: 0 0.5rem;
}
.homeRoom__section__container .filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.75rem;
  list-style: none;
}
.homeRoom__section__container .filter__difficult {
  margin: 0 0.5rem;
}
.homeRoom__section__container .filter__difficult button {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  border: 2px solid #777;
  padding: 0.8rem 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.05rem;
  line-height: 1.25;
  border-radius: 2.5rem;
  transition: all 0.5s ease;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.homeRoom__section__container .filter__difficult button:hover {
  color: white;
  background-color: #777;
}
.homeRoom__section__container .filter__difficult button:active {
  color: white;
  background-color: #f60b0e;
  border-color: #c7070a;
}
.homeRoom__section__container .cardRoom {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  justify-content: center;
  grid-gap: 2rem;
  justify-content: center;
}
.homeRoom__section__container .cardRoom .card {
  height: 375px;
  min-width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 35px;
  box-shadow: 0 0 1em black;
}
.homeRoom__section__container .cardRoom .card__levels {
  position: relative;
  bottom: 130px;
  line-height: 1rem;
  font-size: 16px;
}
.homeRoom__section__container .cardRoom .card__levels i {
  color: #000000;
  margin-right: 0.3em;
}
.homeRoom__section__container .cardRoom .card__name {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 900;
  color: white;
  position: relative;
  bottom: 120px;
}
.homeRoom__section__container .cardRoom .card__description {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 100px;
}
.homeRoom__section__container .cardRoom .card__description div {
  color: #000000;
}
.homeRoom__section__container .cardRoom .card__description i {
  color: #000000;
}
.homeRoom__section__container .cardRoom .card__description p {
  color: #3C3F3E;
  font-weight: bold;
}
.homeRoom__section__container__navRoom {
  padding-top: 2rem;
}
.homeRoom__section__container__navRoom .pageList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 160px;
}
.homeRoom__section__container__navRoom .pageList__link a {
  z-index: 2;
  color: #fff;
  background-color: #f60b0e;
  border-color: #f60b0e;
  text-transform: none;
}

@media (min-width: 992px) {
  .homeRoom__section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .homeRoom__section__section {
    max-width: 960px;
  }
}

/*# sourceMappingURL=style.css.map */
