// Big Screen
$h1TitleBigScreen: 120px;
$h2TitleBigScreen: 44px;
$h3TitleBigScreen: 32px;
$sizeParagraphBigScreen: 16px;
$textSmallBigScreen: 11px;


// Mobile Version
$h1TitleMobile: 32px;
$h2TitleMobile: 19px;
$h3TitleMobile: 21px;
$sizeParagrapheMobile: 14px;
$textSmallMobile: 10px;

// Colors
$redColor: #f60b0e;
$darkestBg: #1b1b1b;
$darkBg: #222222;
$whiteBg: #fefefe;
$globalFontColor: #717171;
$navFontColor: #777;
$whiteText: white;
$separatorBg: #333333;
$smallGreyBg: #585858;
$smallWhiteBg: #d5d5d5;

// Icon width
$iconMiddle: 30px;

