h1, h2, h3 {
    color: $whiteText;
    
}

p {
    color: $globalFontColor;
}
#map {
    height:400px;
    width: 100%;
}

// DESKTOP RESPONSIVE
@media screen and (min-width:769px) {
.contact__main-contact {
    display: flex;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    
}

.contact__main{
    padding-bottom: 40px;
        &__section-content {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        &__container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto; 
        }
        &__list {
            padding-top: 2rem;
        }
        &__title {
            margin-bottom:1.5rem;
            font-size: 28px;
        }
        &__address {
            display: flex;
            align-items: center;
            margin-bottom: 1.5rem;
            &__icon {
                width:$iconMiddle;
                color:white;
                margin-right:20px;   
            }
        }
    
    
}
#contact__section__title {
    font-size: 28px;
}
    .contact__section {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 40px;
        &__form {
           
            &__name, &__email {
                margin-bottom: 3rem;
            }
        
            &__input {
                display: block;
                width: 100%;
                height: calc(3.1rem + 4px);
                padding: 0.8rem 0;
                font-size: 1rem;
                line-height: 1.5;
                color: #fff;
                background-color: transparent;
                background-clip: padding-box;
                border: none;
                border-bottom: 2px solid #404040;
                border-radius: 0;
                transition: border-color .15s ease-in-out;
                outline:none;
                font-family: $fontParagraphHind;
            }
            &__button {
                display:block;
                padding: 1rem 2.5rem;
                font-size: .875rem;
                line-height: 1.5;
                border-radius: 2rem;
                cursor: pointer;
                color: #fff;
                background-color: #f60b0e;
                border-color: #f60b0e;
                border: 2px solid transparent;
                width:100%;
                font-weight: 700;
                font-family: $fontTitleMonserrat;
                text-align: center;
                margin-top: 50px;
            }
        }
    }
.form__message {
  resize:vertical;
  overflow:auto;
  
}
}

// MOBILE RESPONSIVE
@media screen and (max-width:412px) {

    .contact__main{
        padding-bottom: 40px;
            &__section-content {
                padding-top: 40px;
                padding-bottom: 40px;
            }
            &__container {
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto; 
            }
            &__list {
                padding-top: 2rem;
            }
            &__title {
                margin-bottom:1.5rem;
                font-size: 28px;
            }
            &__address {
                display: flex;
                align-items: center;
                margin-bottom: 1.5rem;
                &__icon {
                    width:$iconMiddle;
                    color:white;
                    margin-right:20px;   
                }
            }
        
    }
    #contact__section__title {
        font-size: 28px;
    }
        .contact__section {
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            padding-bottom: 40px;
            &__form {
               
                &__name, &__email {
                    margin-bottom: 3rem;
                }
            
                &__input {
                    display: block;
                    width: 100%;
                    height: calc(3.1rem + 4px);
                    padding: 0.8rem 0;
                    font-size: 1rem;
                    line-height: 1.5;
                    color: #fff;
                    background-color: transparent;
                    background-clip: padding-box;
                    border: none;
                    border-bottom: 2px solid #404040;
                    border-radius: 0;
                    transition: border-color .15s ease-in-out;
                    outline:none;
                    font-family: $fontParagraphHind;
                }
                &__button {
                    display:block;
                    padding: 1rem 2.5rem;
                    font-size: .875rem;
                    line-height: 1.5;
                    border-radius: 2rem;
                    cursor: pointer;
                    color: #fff;
                    background-color: #f60b0e;
                    border-color: #f60b0e;
                    border: 2px solid transparent;
                    width:100%;
                    font-weight: 700;
                    font-family: $fontTitleMonserrat;
                    text-align: center;
                    margin-top: 50px;
                }
            }
        }
    .form__message {
      resize:vertical;
      overflow:auto;
      
    }
    

}