

.footer {
    img{
        width: 30px;
        height: 30px;
    }
    width: 100%;
    height: auto;
    position: relative;

    &__background {
        z-index: -1;
        width: 100%;
        height: 100%;
        position: absolute;
        

        &__image {
            width: 100%;
            height: 100%;
            z-index: 0;
            background-image: url(../image/gallery/slide-3.jpg);
            background-image: contain;
            background-repeat: no-repeat;
            background-position: center;
            //opacity: 10%;
        }
        &__color {
            //background-color : hsl(0,0%,23%);
        }
    }
}