.footer {
	width: 100%;
	
	display: flex;
	flex-direction: column;
	background-color: hsla(0, 0%, 0%, 0.657);
	background-size: cover;
	background-image: url("../image/gallery/footer-bg.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	//position: relative;
    bottom: 0;
	
	span, h4, li, a {
		color: $whiteText;
        list-style: none;
        text-decoration: none;
	}
    h4 {
        font-family: $fontTitleMonserrat;
    }
    li {
        font-family: $fontParagraphHind;
    }

	
	&__body {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		padding: 7rem 2rem 4rem 1rem;
		
		&__column {
			width: 40%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			gap: 1em;
			background: none;
			
			div {
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				justify-content: flex-start;
				gap: 5vw;
				position: relative;
				
				ul {
					display: flex;
					flex-direction: column;
					gap: 1em;
					white-space: nowrap;
				}
			}
			
			ul, h4 {
				margin-left: 1.5rem;
				
				li {
					color:$globalFontColor;
					
					em {
						color: $whiteText;
					}
				} 
			}
			
			span {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				gap: 1em;
				color: $globalFontColor;
				
				
				&::after{
					content: "";
					width: 2em;
					height: 2px;
					border-radius: 5px;
					background: $redColor;
				}
			}
			
			&:first-child {
				ul li {
					
					&:first-child,
					&:nth-child(4) {
						margin-top: 1em;
					}
				}
			}
			
			&.link {
				
				ul {
					display: flex;
					flex-direction: column;
					gap: 1em;
					margin-top: 2em;
					padding: 0;
					
					a {
						color: $globalFontColor;
						text-transform: uppercase;
						font-weight: 400;
						letter-spacing: 1px;
						font-size: 0.8em;
						
						&:hover {
							color: $whiteBg;
						}
					}
				}
			}
			
			
			&.social {
				ul {
					width: 100%;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					gap: 0.5rem;
					position: relative;
					
					li a {
						width: 3rem;
						aspect-ratio: 1/1;
						background: transparent;
						border-radius: 50px;
						transition: all .5s ease;
						font-size: 1.5rem;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: $darkestBg;
						
						&:hover {
							background: $redColor;
							color: $whiteText;
						}
					}
				}
			}
		}
	}

	&__copyright {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: hsla(0, 0%, 0%, 0.657);
		border-top: 1px solid rgba(51,51,51,.5);
		padding-top: 2em;
		padding-bottom: 3em;
		gap: 1rem;
		position: relative;
		z-index: 2;

		cite {
			color: $globalFontColor;
			font-style: normal;
		}
	}
}


@media screen and (min-width: 620px) and (max-width: 769px ) {
	.footer {
		&__body {
			flex-wrap: wrap;
			flex-grow: 3;
			gap: 1rem;
		}
	}
}

@media screen and (min-width: 412px) and (max-width: 619px) {
	.footer {
		&__body {
			flex-direction: column;

			&__column {

				div {
					gap: 0;

				}
				&.social {
					
					ul {
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;	
					}	
				}
			}
		}
	}
}
@media screen and (max-width: 412px) {
	.footer {
		&__body {
			flex-direction: column;

			&__column {

				div {
					gap: 0;

				}
				&.social {
					
					ul {
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						
						li {

							a {
								width: 1em;

								i {
									font-size: 1em;
								}
							}
						}
					}	
				}
			}
		}
	}
}
