@media only screen and (max-width: 412px) {
  header {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5410539215686274) 60%,
        rgba(27, 27, 27, 1) 100%
      ),
      url(../image/gallery/slide4_412px-4.jpg) no-repeat center/cover;
    width: 100%;
    height: 250px;
    text-align: center;
    color: $whiteText;
    @include displayFlexColumn();
    justify-content: center;

    .header-container-title-paragraphe {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      gap: 0.8rem;
    }

    & .separator {
      height: 2%;
      width: 10%;
      background: $separatorBg;
      margin: 0 auto;
      margin-bottom: 0.5rem;
    }
  }
}
