.header_nav_container {
  transition: transform 0.3s ease;
  width: 100%;
  @include displayFlexRow();
  align-items: center;
  background: rgba(27, 27, 27, 0.55);
  figure {
    margin-right: 1.3rem;
    img {
      display: block;
    }
  }

  .header_container_navlist_navlogin {
    @include displayFlexRow();
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: $fontTitleMonserrat;

    .header_nav_container_list_all_page {
      .header_list_all_page {
        @include displayFlexRow();
        font-weight: 700;

        .header_item_all_page {
          padding: 0 1rem;

          a {
            font-size: 1rem;
            color: $globalFontColor;
            position: relative;
            display: block;
            z-index: 1;

            &:hover::before {
              transform: translateX(-50%) rotate(-45deg) scaleX(1);
              position: absolute;
              z-index: -1;
            }

            &::before {
              position: absolute;
              content: "";
              height: 2px;
              width: 50px;
              top: 50%;
              left: 50%;
              background: $redColor;
              transform: translateX(-50%) rotate(-45deg) scaleX(0);
              transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
              z-index: -1;
            }

            &:hover {
              color: $whiteText;
            }
          }
        }

        .burger_login {
          display: none;
        }

        .active {
          a {
            color: $whiteText;
          }

          a::before {
            transform: translateX(-50%) rotate(-45deg) scaleX(1);
          }
        }
      }
    }
  }

  .header_nav_container_login {
    @include displayFlexRow();
    align-items: center;
    .header_list_login {
      @include displayFlexRow();
      align-items: center;

      .separator_nav_login {
        height: 1rem;
        width: 1px;
        background: $smallGreyBg;
      }

      .header_item_login {
        padding: 0 1.2rem;
        a {
          &:hover {
            color: $redColor;
            transition: all 0.3s ease-in-out;
          }
          i {
            font-size: 0.8rem;
          }
        }

        &:first-child {
          padding: 0;
          a {
            border: 2px solid $smallGreyBg;
            border-radius: 30px;
            padding: 0.8rem 2rem;
            font-size: 0.7rem;
            font-weight: 700;
            display: flex;
            align-items: center;

            &:hover {
              transition: all 0.2s ease-in-out;
              background: $smallGreyBg;
              color: $whiteText;
            }

            i {
              display: none;
            }
          }
        }

        &:last-child {
          a {
            font-size: 0.7rem;
            font-weight: 300;
            margin-right: 2rem;

            &:hover {
              color: $redColor;
              transition: all 0.2s ease-in-out;

              &:hover i {
                color: $whiteText;
              }
            }

            i {
              margin-right: 0.8rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .header_nav_container {
    .header_nav_container_login {
      .header_list_login {
        .header_item_login {
          &:first-child {
            a {
              padding: 0.3rem;
              span {
                display: none;
              }

              i {
                display: block;
                font-size: 1.1rem;
              }

              i::before {
                content: "\f073";
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  .header_nav_container {
    .header_container_navlist_navlogin {
      .header_nav_container_list_all_page {
        .header_list_all_page {
          .header_item_all_page {
            padding: 0.5rem;
            a {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }

  .header-container-title-paragraphe {
    .header_title_separator {
      h1 {
        font-size: 5.5rem;
      }
    }
  }
}

@media only screen and (max-width: 940px) {
  .header_nav_container {
    .header_container_navlist_navlogin {
      justify-content: flex-end;

      .header_nav_container_list_all_page {
        position: absolute;
        left: -100%;
        top: 0;
        background: $darkBg;
        height: 100vh;
        width: 270px;
        transition: all 0.4s ease-in-out;
        z-index: 10;

        .header_list_all_page {
          @include displayFlexColumn;

          .header_item_all_page {
            padding: 1.5rem;
            border-bottom: 1px solid $separatorBg;
            height: 80px;
            display: flex;
            justify-content: flex-start;
            a {
              color: $whiteText;
              font-size: 1.2rem;

              &:hover::before {
                display: none;
              }

              &::before {
                display: none;
              }
            }
          }

          .nav_more_content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &::after {
              content: "+";
              color: $smallGreyBg;
              font-size: 1.6rem;
              font-weight: 400;
            }
          }

          .burger_login {
            display: block;
            text-align: left;
            a {
              i {
                margin-right: 0.5rem;
              }
            }
          }
        }
      }

      .active {
        left: 0;
      }

      .header_nav_container_login {
        .header_list_login {
          .login_glass {
            @include displayFlexRow;
            align-items: center;
            a {
              i {
                font-size: 1.2rem;
              }
            }
          }

          .login_glass::after {
            content: "\2630";
            font-size: 2rem;
            margin-left: 1rem;
          }
          .login_glass.active-symbol::after {
            content: "\2715";
          }

          .separator_nav_login {
            display: none;
          }

          .header_item_login:last-child {
            display: none;
          }
        }
      }
    }
  }
}
