.nav {
  background-color: rgb(34, 34, 34, 0.3);
  @include flex-row-between;
  height: 80px;

  ul {
    @include flex-row-between;

    li {
      list-style: none;
      padding: 0 15px 0 15px;
    }
  }

  ._nav_icon {
    @include petit-icon;
  }

  p {
    padding: 20px;
  }
}
@media (min-width: 769px) {
  ._nav_icon_hamburger {
    display: none;
  }
  .close {
    visibility: hidden;
  }
}
@media (max-width: 768px) {
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: black;
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: white;
  }
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    @include flex-column-center;
  }

  .sidenav.active {
    left: 0;
  }

  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  .burger-icon span {
    display: block;
    justify-content: flex-end;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $darkBg;
  }
  ._nav_icon_hamburger {
    visibility: visible;
  }
  .invisible {
    display: none;
  }
  ._nav_icon {
    @include petit-icon;
    display: flex;
    justify-content: flex-end;
  }
}
